<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ bookTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Lista de reflexiones -->
  <ion-list *ngIf="!loading && !errorMessage">
    <ion-item *ngFor="let reflection of reflections; let i = index" class="reflection-item">
      <ion-avatar slot="start">
        <ion-icon name="person-circle" class="user-icon"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Usuario: {{ reflection.userName }}</p>
        <p>{{ reflection.text }}</p>
        <p><small>{{ reflection.createdAt.toDate() | date: 'short' }}</small></p>
      </ion-label>
      <ion-button *ngIf="isAdmin" (click)="deleteReflection(reflection.userId, reflection.productId, reflection.id, i)">
        Eliminar Reflexión
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
